
<!DOCTYPE html>
<!--[if lt IE 7]>  <html class='lt-ie7'> <![endif]-->
<!--[if IE 7]>     <html class='lt-ie8'> <![endif]-->
<!--[if IE 8]>     <html class='lt-ie9'> <![endif]-->
<!--[if gt IE 8]><!-->
<html ng-app='myApp'>
<!--<![endif]-->

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Ahome</title>

  <meta name='description' content=''>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>

  <link rel='icon' type='image/png' href='assets/_con/images/logo.png'>

  <!-- nanoScroller -->
  <link rel='stylesheet' type='text/css' href='assets/nanoScroller/nanoscroller.css' />

  <!-- Animate css -->
  <link rel='stylesheet' href='assets/animate.css/animate.css'>
   <script src='assets/wow.js/wow.min.js'></script>
              <script>
              new WOW().init();
              </script>
              
  <!-- FontAwesome -->
  <link rel='stylesheet' type='text/css' href='assets/font-awesome/css/font-awesome.min.css' />

  <!-- Material Design Icons -->
  <link rel='stylesheet' type='text/css' href='assets/material-design-icons/css/material-design-icons.min.css' />

  <!-- IonIcons -->
  <link rel='stylesheet' type='text/css' href='assets/ionicons/css/ionicons.min.css' />

  <!-- WeatherIcons -->
  <link rel='stylesheet' type='text/css' href='assets/weatherIcons/css/weather-icons.min.css' />

  <!-- Google Prettify -->
  <link rel='stylesheet' type='text/css' href='assets/google-code-prettify/prettify.css' />
  <!-- Main -->
  <link rel='stylesheet' type='text/css' href='assets/_con/css/_con.min.css' />

  
    <!-- jQuery -->
    <script src='assets/jquery/jquery.js'></script>
  
  <!-- Style -->
  <link rel='stylesheet' type='text/css' href='main/css/style.css' />
  <link rel='stylesheet' type='text/css' href='main/css/scaler.css' />
  <link rel='stylesheet' type='text/css' href='main/css/helper.css' />
  
  <!--[if lt IE 9]>
    <script src='assets/html5shiv/html5shiv.min.js'></script>
  <![endif]-->
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
    <script>
    $(document).ready(function() {
    <!-- alert('wtf'); -->
     
    $(window).scroll(function() {
    if ($(document).scrollTop() > 50) {
      $('#user-head').addClass('fadeOut');
      };
      });
      });
      
    </script>
</head>

<body id='body' class='yay-hide'>
<!-- [ stream container ] -->
  <!--
  Top Navbar
    Options:
      .navbar-dark - dark color scheme
      .navbar-static - static navbar
      .navbar-under - under sidebar
-->
  <nav class='navbar-top artist-header navbar-dark maxh-55p'>
    <div class='nav-wrapper maxh-55p'>

      <!-- Sidebar toggle -->
      <a href='page-profile.html#' class='yay-toggle'>
        <div class='burg1'></div>
        <div class='burg2'></div>
        <div class='burg3'></div>
      </a>
      <!-- Sidebar toggle -->

      <!-- Logo -->
      <a href='page-profile.html#!' class='brand-logo artist-header-pic'>
        <img src='assets/_con/images/logo.png' alt='Con'>
      </a>
      <!-- /Logo -->

      <!-- Menu -->
      <ul>
      <li><a href='#' id='stream-call' class='stream-call'><i class='mdi-content-inbox'></i></a>
        </li>
        <li><a href='page-profile.html#!' class='search-bar-toggle'><i class='mdi-action-search'></i></a>
        </li>
        <li><a href='page-profile.html#!' class='lighten-3 grey-text z-depth-0 chat-toggle'><i class='fa fa-comments'></i></a>
        </li>
        <li class='user li-auto-width'>
          <a class='dropdown-button' href='page-profile.html#!' data-constrainwidth='false'  data-hover='true' data-induration='500' data-outduration='300' data-activates='user-dropdown'>
            <img src='assets/_con/images/user.jpg' alt='John Doe' class='circle'>
          </a>

          <ul id='user-dropdown' class='t-55 dropdown-content'>
            <li><a href='page-profile.html'><i class='fa fa-user'></i> </a>
            </li>
            <li><a href='mail-inbox.html'><i class='fa fa-envelope'></i> Messages <span class='badge new'>2</span></a>
            </li>
            <li><a href='page-profile.html#!'><i class='fa fa-cogs'></i> Settings</a>
            </li>
            <li class='divider'></li>
            <li><a href='/auth/logout'><i class='fa fa-sign-out'></i> Logout</a>
            </li>
          </ul>
        </li>

        <li class='user li-auto-width' style='background-color: red;'>
          <a class='dropdown-button' href='page-profile.html#!' data-constrainwidth='false'  data-hover='true' data-induration='500' data-outduration='300' data-activates='user-create-dropdown'>
            <i class='fa fa-plus-square-o center' style='font-size:31px!important'></i>
          </a>

          <ul id='user-create-dropdown' class='t-55 dropdown-content'>
            <li><a href='page-profile.html'>Create Troupe</a>
            </li>
            <li><a href='mail-inbox.html'>Create Project</a>
            </li>
            <li><a href='page-profile.html#!'>Edit Tool</a>
            </li>
            <li class='divider'></li>
            <li><a href='assets/php/_logout.php'><i class='fa fa-sign-out'></i>More..</a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- /Menu -->

    </div>
  </nav>
  <!-- /Top Navbar -->


  <!--
  Yay Sidebar
  Options [you can use all of theme classnames]:
    .yay-hide-to-small         - no hide menu, just set it small with big icons
    .yay-static                - stop using fixed sidebar (will scroll with content)
    .yay-gestures              - to show and hide menu using gesture swipes
    .yay-light                 - light color scheme
    .yay-hide-on-content-click - hide menu on content click

  Effects [you can use one of these classnames]:
    .yay-overlay  - overlay content
    .yay-push     - push content to right
    .yay-shrink   - shrink content width
-->
  <aside class='yaybar yay-overlay yay-gestures'>

    <div class='top'>
      <div>
        <!-- Sidebar toggle -->
        <a href='page-profile.html#' class='yay-toggle'>
          <div class='burg1'></div>
          <div class='burg2'></div>
          <div class='burg3'></div>
        </a>
        <!-- Sidebar toggle -->

        <!-- Logo -->
        <a href='page-profile.html#!' class='brand-logo'>
          <img src='assets/_con/images/logo-white.png' alt='Con'>
        </a>
        <!-- /Logo -->
      </div>
    </div>


    <div class='nano'>
      <div class='nano-content'>

        <ul>

          <li class='label'>Menu</li>

          <li class='label'>Elements</li>
          <li>
            <a class='yay-sub-toggle waves-effect waves-blue'><i class='fa fa-css3'></i> CSS<span class='yay-collapse-icon mdi-navigation-expand-more'></span></a>
            <ul>
              <li><a class='waves-effect waves-blue' href='css-alerts.html'><i class='mdi-alert-warning'></i> Alerts</a>
              </li>
              <li><a class='waves-effect waves-blue' href='css-badges.html'><i class='mdi-action-stars'></i> Badges</a>
              </li>
              <li><a class='waves-effect waves-blue' href='css-colors.html'><i class='mdi-image-palette'></i> Colors</a>
              </li>
              <li><a class='waves-effect waves-blue' href='css-grid.html'><i class='mdi-action-dashboard'></i> Grid</a>
              </li>
              <li><a class='waves-effect waves-blue' href='css-helpers.html'><i class='mdi-action-help'></i> Helpers</a>
              </li>
              <li><a class='waves-effect waves-blue' href='css-icons.html'><i class='mdi-communication-invert-colors-on'></i> Icons</a>
              </li>
              <li><a class='waves-effect waves-blue' href='css-shadow.html'><i class='mdi-maps-layers'></i> Shadow</a>
              </li>
              <li><a class='waves-effect waves-blue' href='css-typography.html'><i class='fa fa-font'></i> Typography</a>
              </li>
            </ul>
          </li>

          <li>
            <a class='yay-sub-toggle waves-effect waves-blue'><i class='mdi mdi-image-panorama'></i> Media<span class='yay-collapse-icon mdi-navigation-expand-more'></span></a>
            <ul>
              <li><a class='waves-effect waves-blue' href='media-hover-effects.html'><i class='mdi mdi-image-style'></i> Hover Effects</a>
              </li>
              <li><a class='waves-effect waves-blue' href='media-scroll-effects.html'><i class='fa fa-magic'></i> Scroll Effects</a>
              </li>
              <li><a class='waves-effect waves-blue' href='media-gallery.html'><i class='mdi mdi-image-collections'></i> Gallery</a>
              </li>
              <li><a class='waves-effect waves-blue' href='media-material-box.html'><i class='mdi mdi-image-collections'></i> Material Box</a>
              </li>
              <li><a class='waves-effect waves-blue' href='media-parallax.html'><i class='mdi mdi-image-panorama'></i> Parallax</a>
              </li>
              <li><a class='waves-effect waves-blue' href='media-player.html'><i class='mdi mdi-av-play-circle-outline'></i> Player</a>
              </li>
              <li><a class='waves-effect waves-blue' href='media-slider.html'><i class='mdi mdi-action-view-carousel'></i> Slider</a>
              </li>
            </ul>
          </li>

          <li class='label'>Components</li>
          <li>
            <a class='yay-sub-toggle waves-effect waves-blue'><i class='fa fa-check-square-o'></i> Forms<span class='yay-collapse-icon mdi-navigation-expand-more'></span></a>
            <ul>
              <li><a class='waves-effect waves-blue' href='forms-base.html'><i class='fa fa-cube'></i> Base</a>
              </li>
              <li><a class='waves-effect waves-blue' href='forms-advanced.html'><i class='fa fa-cubes'></i> Advanced</a>
              </li>
              <li><a class='waves-effect waves-blue' href='forms-validation.html'><i class='fa fa-check-square-o'></i> Validation</a>
              </li>
              <li><a class='waves-effect waves-blue' href='forms-editors.html'><i class='fa fa-edit'></i> Editors</a>
              </li>
              <li><a class='waves-effect waves-blue' href='forms-checkout.html'> Checkout</a>
              </li>
              <li><a class='waves-effect waves-blue' href='forms-contacts.html'> Contacts</a>
              </li>
              <li><a class='waves-effect waves-blue' href='forms-login.html'> Login</a>
              </li>
              <li><a class='waves-effect waves-blue' href='forms-register.html'> Register</a>
              </li>
            </ul>
          </li>
<!--
          <li class='open'>
            <a class='yay-sub-toggle waves-effect waves-blue'><i class='fa fa-globe'></i> Pages<span class='yay-collapse-icon mdi-navigation-expand-more'></span></a>
            <ul>
              <li class='active'><a class='waves-effect waves-blue' href='page-profile.html'>Profile</a>
              </li>
              <li><a class='waves-effect waves-blue' href='page-timeline.html'>Timeline</a>
              </li>
              <li><a class='waves-effect waves-blue' href='page-blank.html'>Blank</a>
              </li>
            </ul>
          </li>
-->
          <li class='label'>Stats</li>
          <li class='content'>
            <span><i class='fa fa-spinner'></i> Server Load</span>
            <div class='progress small light-green lighten-4'>
              <div class='light-green accent-5' style='width: 37%'></div>
            </div>

            <span><i class='fa fa-thumbs-o-up'></i> User Satisfaction</span>
            <div class='progress small'>
              <div style='width: 91%'></div>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </aside>
  <!-- /Yay Sidebar -->

  <!-- Main Content -->
<section class='content-wrap stream-container'>
    
    <!--********************-->
    <!-- [ Main Container ] -->
    <!--********************-->

      <div class='row '>

      <!--********************-->
      <!-- [ Container #1 ] -->
      <!--********************-->

      <div class='col s12 m12 l3'>


            <!-- Customer -->
              <div class='card profile-skills'>
                <div class='title'>
                  <h5>Artists</h5>
                   <a class='close' href='#'>
                <i class='mdi-content-clear'></i>
               </a>
                  <a class='minimize' href='ecommerce-order-single.html#'>
                    <i class='mdi-navigation-expand-less'></i>
                  </a>
                </div>
                <div class='content'>

                  <div class='row no-margin-top'>

                    <div class='col m12 l5'>
                      <img width='100' src='assets/_con/images/user4.jpg' alt='Patsy Griffin' class='circle photo'>
                    </div>

                    <div class='col m12 l7'>
                      <h4><%=Tname %> Griffin</h4>
                      6008 Cotton Nook, Arminto,
                      <br>Montana, 59114-7319, US,
                      <br><i class='mdi-communication-phone'></i> (406) 500-7506
                    </div>
                  </div>

                  <div class='row'>
                <div class='col s6'>
                  <a href='#' class='btn waves-effect'>See</a>
                </div>
                <div class='col s6 right-align'>
                  <h5><i class='fa fa-users'></i> 185</h5>
                </div>
              </div>

                </div>
              </div>
            <!-- /Customer -->

             <!-- Troupe -->
            <div class='card profile-skills'>
              <div class='title'>
                <h5><i class='mdi-social-people'></i> Troupes</h5>
                <a class='close' href='page-profile.html#'>
                  <i class='mdi-content-clear'></i>
                </a>
                <a class='minimize' href='page-profile.html#'>
                  <i class='mdi-navigation-expand-less'></i>
                </a>
              </div>
              <div class='content'>
                <div class='row ' style='margin-top: 0'>

                  <div class='col m12 m12'>
                    <strong><h5>FaadFactory<span class='badge'>1</span></h5></strong>
                    <!-- &nbsp;&nbsp;&nbsp;13 -->
                  </div>

                  <div class='col m12 m12' style='padding-bottom:0px; padding-right: 33px;'>
                    <strong><h5>Tesico<span class='new badge'>4</span></h5></strong>
                    <!-- &nbsp;&nbsp;&nbsp;27 -->
                  </div>

                  <div class='col m12 m12' style='padding-bottom:'>
                    <h4><strong>
                    <a class='waves-effect  waves-light modal-trigger right' href='#modal1' data-dismissible='true' data-opacity='0.6' data-induration='400' data-outduration='300'>
                    &nbsp;<span class='new mdi-social-group-add right'></span>
                    </a></strong></h4>
                    <!-- &nbsp;&nbsp;&nbsp;27 -->
                  </div>
                <!-- Modal Structure -->
                    <div id='modal1' class='modal' style='height:295px!important;max-height: 100%!important;'>
                    <div class='modal-content center' style='padding-bottom: 22px;'>

                       <h4>Create a Troop</h4>

                    <!-- Top Progress -->
                    <div class='progress tiny top'>
                      <div class='red' style='width: 31%'></div>
                    </div>
                    <ul class='tabs'>
                      <li class='tab col s3'><a class='active' href='#test1'>Name Your Troupe</a></li>
                      <li class='tab col s3'><a href='#test2'>Add Artists</a></li>
                      <li class='tab col s3'><a href='#test3'>Upload Art</a></li>
                    </ul>

                    <div id='test1' class='card' style='margin-top:10px;height:145px'>

                       <p><br></p>
                       <p><form id='form_create_troupe' action='' accept-charset='UTF-8' method='post' role='form'>
                       <div class='input-field align-center'>
                         <input id='troupe_name' name='troupe_name' type='text' class='validate'>
                         <label for='troupe_name'>Enter Troop Name</label>
                         <button class='btn right' >
                         Next <i class='mdi-content-send right'></i>
                         </button>
                       </div></p>

                    </div>
                    <div id='test2' class='card' style='margin-top:10px;height:145px'>

                       <p><br></p>
                       <p>
                       <div class='input-field align-center'>
                         <input id='troupe_artists' name='troupe_artists' type='text' class='validate'>
                         <label for='troupe_artists'>Enter Troop Members</label>
                         <button class='btn right' type='submit' name='action'>
                         Next <i class='mdi-content-send right'></i>
                         </button>
                       </div></p>

                    </div>
                    <div id='test3' class='card' style='margin-top:10px;height:145px'>

                       <p><br></p>
                       <p>
                       <div class='input-field align-center'>
                       <div class='file-field input-field'>
                           <div class='btn'>
                             <span>File</span>
                             <input name='troupe_pic' type='file'>
                           </div>
                           <div class='file-path-wrapper'>
                             <input name='troupe_pic' class='file-path validate' type='text'>
                           </div>
                       </div>
                         <button class='btn right' type='submit' name='action'>
                         Skip/Upload <i class='mdi-content-send right'></i>
                         </button>
                       </div></form></p>

                    </div>
                    </div>
                <!--<div class='modal-footer'>-->
                <!--<a href='#!' class='modal-action modal-close waves-effect waves-red btn-flat '>[x] Close</a>-->
                <!--<a href='#!' class='modal-action modal-close waves-effect waves-green btn-flat '>Agree</a> -->
                <!--</div>-->
                    </div>
                </div>
              </div>
            </div>
            <!-- /Troupe -->


      </div>

      <!--********************-->
      <!-- [ Container #2.1 ] -->
      <!--********************-->

      <div class='col s12 m12 l3'>

            <div class='card-panel'>
                 <form action='' accept-charset='UTF-8' id='form_update_post' method='post' role='form' >
                       <!-- To -->
                       <div class='input-field'>
                         <input id='post_body' type='text' class='validate' value='' name='post_body'>
                         <label for='post_body'>Share Your Art</label>
                       </div>
                       <button class='btn' type='submit' name='action'>
                               Share <i class='mdi-content-send right'></i>
                       </button>
                       <!-- /To -->
             </form>
            </div>


             
              <div class='card' >
                  <div class="container">
                    <div class="page-header text-center">
                        <h1><span class="fa fa-anchor"></span> Angular</h1>
                        <input type="text" name="name" ng-model="name">
                        <br>
                        <div class="alert alert-{{name}}" role="alert">Hello World - {{ name }}</div>
                        <a href="/page1">Page 1</a> - 
                        <a href="/page2">Page 2</a>
                    </div>
                 </div>
                  <div ng-view ></div>
              </div>
          
      </div>

      <!--********************-->
      <!-- [ Container #2.2 ] -->
      <!--********************-->

      <div class='col s12 m12 l3'>


            <!-- POST -->
            <div class='card'>
                 <div class='title'>
                  <h5>Test</h5>
                  <a class='close' href='#'>
                     <i class='mdi-content-clear'></i>
                  </a>
                  <a class='minimize' href='#'>
                     <i class='mdi-navigation-expand-less'></i>
                  </a>
             </div>
             <figure class='hover-effect effect-zoe minw-0p'>
            <img src='assets/_con/images/image-2.jpeg'>
    <!-- 	        <span class='card-title' style='background'>Card Title</span> -->
                  <figcaption>
                               <h2>Creative <span>Zoe</span></h2>
                               <p class='icon-links'>
                               <a href='media-hover-effects.html#'><span class='fa fa-heart-o'></span></a>
                               <a href='media-hover-effects.html#'><span class='fa fa-eye'></span></a>
                               <a href='media-hover-effects.html#'><span class='fa fa-paperclip'></span></a>
                               </p>
                               <p class='description'>Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
                          </figcaption>
                 </figure>
             <div class='content'>
                  I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.

                  <a href='#!'>This is a link</a>
             </div>
             <div class='card-action'>
                  <a class='' href='#' style='color:black'>
                     <i class='fa fa-star-o'></i>
                  </a>
                      <a class='' id='comment-mar'  style='color:black;cursor:pointer'>
                     <i class='fa fa-comment'></i></i>
                  </a>
                  <a class='' href='#' style='color:black'>
                     <i class='fa fa-share'></i>
                  </a>
             </div>
             <!-- comment --->
             <ul class='collapsible comment-collapsible' data-collapsible='accordion' id='no-comment' style='display:none' >
                     <li>
                        <div class='collapsible-header'>
                          <form action='' accept-charset='UTF-8' id='form_add_comment' method='post' role='form' >
                             <div class='row'><div class='col m12 l12 input-field'>
                                  <i class='mdi-communication-chat prefix'></i>
                                  <input id='comment_body' type='text' name='comment_body' class='validate' placeholder='Comment'>
                             </div>
                             <!--<div class='col s2 l2'>-->
                                  <!--<div class='btn'>-->
                                       <!--<span>Done</span>-->
                                  <!--</div>-->
                             <!--</div>-->
                             </div>
                          </form>       
                        </div>
                        <div class='collapsible-body'>
                             <div class='row p-5'>
                                  <div class='col s2'>s</div>
                                  <div class='col s10'>a</div>
                             </div>
                        </div>
                     </li>
                 </ul>
        </div>
            <!-- /POST -->
        
            

      </div>


      <!--********************-->
      <!-- [ Container #3 ] -->
      <!--********************-->

      <div class='col s12 m12 l3'>

            <!-- Customer -->
              <div class='card profile-skills'>
                <div class='title'>
                  <h5>Artists</h5>
                   <a class='close' href='#'>
                <i class='mdi-content-clear'></i>
               </a>
                  <a class='minimize' href='ecommerce-order-single.html#'>
                    <i class='mdi-navigation-expand-less'></i>
                  </a>
                </div>
                <div class='content'>



                </div>
              </div>
            <!-- /Customer -->

      </div>


    </div>

  </section>
  <!-- /Main Content -->

  <!-- Search Bar -->
  <div class='search-bar'>
    <div class='layer-overlay'></div>
    <div class='layer-content'>
      <form action='' id='form_search_box'>
        <!-- Header -->
        <a class='search-bar-toggle grey-text text-darken-2' href='page-profile.html#!'><i class='mdi-navigation-close'></i></a>

        <!-- Search Input -->
        <div class='input-field m-b-15'>
        <form action='search/_search.php'>
        
          <i class='mdi-action-search prefix'></i>
          
          <input type='text' name='artistarc-search'  onkeyup='getmydata(this.value)' placeholder='Search...'>
        </form>
        </div>

        <!-- Search Results -->
        <div class='search-results'>

        <!-- search 2 test -->
        
             <script type='text/javascript'>
               function getmydata(p){
               var page=p;
               $('#loadingmessage').show();  // show the loading message.
               $.ajax({
                 url: 'search/_search.php',
                 type: 'POST',
                 cache: false,
                 data: '&search_querry='+ page,
                 success : function(html){
                 $('#results').html(html);
                  $('#loadingmessage').hide(); // hide the loading message
                 }
               });
              }
            </script>
            <div style='height:10px'>
            <div id='loadingmessage' style='display:none;height:10px'>
            Loading...
            </div>
            </div>
            
        <!-- / search 2 test -->
        
          <div class='row'>
            <div class='col m12 l4'>
              <h4>Users</h4>
              
              <div id='results'></div>
              
              <div class='each-result'>
                <img src='assets/_con/images/user2.jpg' alt='Felecia Castro' class='circle photo'>
                <div class='title'>Felecia Castro</div>
                <div class='label'>Content Manager</div>
              </div>

              <div class='each-result'>
                <img src='assets/_con/images/user3.jpg' alt='Max Brooks' class='circle photo'>
                <div class='title'>Max Brooks</div>
                <div class='label'>Programmer</div>
              </div>

              <div class='each-result'>
                <img src='assets/_con/images/user4.jpg' alt='Patsy Griffin' class='circle photo'>
                <div class='title'>Patsy Griffin</div>
                <div class='label'>Support</div>
              </div>

              <div class='each-result'>
                <img src='assets/_con/images/user6.jpg' alt='Vernon Garrett' class='circle photo'>
                <div class='title'>Vernon Garrett</div>
                <div class='label'>Photographer</div>
              </div>
            </div>
            <div class='col m12 l4'>
              <h4>Troops</h4>

              <div class='each-result'>
                <div class='icon circle blue white-text'>MD</div>
                <div class='title'>Material Design</div>
                <div class='label nowrap'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi consequatur debitis veritatis dolorum, enim libero!</div>
              </div>

              <div class='each-result'>
                <div class='icon circle teal white-text'>
                  <i class='fa fa-dashboard'></i>
                </div>
                <div class='title'>Admin Dashboard</div>
                <div class='label nowrap'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi consequatur debitis veritatis dolorum, enim libero!</div>
              </div>

              <div class='each-result'>
                <div class='icon circle orange white-text'>RD</div>
                <div class='title'>Responsive Design</div>
                <div class='label nowrap'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi consequatur debitis veritatis dolorum, enim libero!</div>
              </div>

              <div class='each-result'>
                <div class='icon circle red white-text'>
                  <i class='fa fa-tablet'></i>
                </div>
                <div class='title'>Mobile First</div>
                <div class='label nowrap'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi consequatur debitis veritatis dolorum, enim libero!</div>
              </div>
            </div>
            <div class='col m12 l4'>
              <h4>Posts</h4>

              <div class='no-result'>No results were found ;(</div>
            </div>
          </div>

        </div>

      </form>
    </div>
  </div>
  <!-- /Search Bar -->



  <!--  Chat    .chat-light - light color scheme-->
  <div class='chat'>
    <div class='layer-overlay'></div>

    <div class='layer-content'>

      <!-- Contacts -->
      <div class='contacts'>
        <!-- Top Bar -->
        <div class='topbar'>
          <a href='page-profile.html#!' class='text'>Chat</a>
          <a href='page-profile.html#!' class='chat-toggle'><i class='mdi-navigation-close'></i></a>
        </div>
        <!-- /Top Bar -->

        <div class='nano'>
          <div class='nano-content'>

            <span class='label'>Online</span>

            <div class='user'>
              <img src='assets/_con/images/user2.jpg' alt='Felecia Castro' class='circle photo'>

              <div class='name'>Felecia Castro</div>
              <div class='status'>Lorem status</div>

              <div class='online'><i class='green-text fa fa-circle'></i>
              </div>
            </div>

            <div class='user'>
              <img src='assets/_con/images/user3.jpg' alt='Max Brooks' class='circle photo'>

              <div class='name'>Max Brooks</div>
              <div class='status'>Lorem status</div>

              <div class='online'><i class='green-text fa fa-circle'></i>
              </div>
            </div>

            <div class='user'>
              <img src='assets/_con/images/user4.jpg' alt='Patsy Griffin' class='circle photo'>

              <div class='name'>Patsy Griffin</div>
              <div class='status'>Lorem status</div>

              <div class='online'><i class='green-text fa fa-circle'></i>
              </div>
            </div>

            <div class='user'>
              <img src='assets/_con/images/user5.jpg' alt='Chloe Morgan' class='circle photo'>

              <div class='name'>Chloe Morgan</div>
              <div class='status'>Lorem status</div>

              <div class='online'><i class='green-text fa fa-circle'></i>
              </div>
            </div>

            <div class='user'>
              <img src='assets/_con/images/user6.jpg' alt='Vernon Garrett' class='circle photo'>

              <div class='name'>Vernon Garrett</div>
              <div class='status'>Lorem status</div>

              <div class='online'><i class='yellow-text fa fa-circle'></i>
              </div>
            </div>

            <div class='user'>
              <img src='assets/_con/images/user7.jpg' alt='Greg Mcdonalid' class='circle photo'>

              <div class='name'>Greg Mcdonalid</div>
              <div class='status'>Lorem status</div>

              <div class='online'><i class='yellow-text fa fa-circle'></i>
              </div>
            </div>

            <div class='user'>
              <img src='assets/_con/images/user8.jpg' alt='Christian Jackson' class='circle photo'>

              <div class='name'>Christian Jackson</div>
              <div class='status'>Lorem status</div>

              <div class='online'><i class='yellow-text fa fa-circle'></i>
              </div>
            </div>


            <span class='label'>Offline</span>

            <div class='user'>
              <img src='assets/_con/images/user9.jpg' alt='Willie Kelly' class='circle photo'>

              <div class='name'>Willie Kelly</div>
              <div class='status'>Lorem status</div>
            </div>

            <div class='user'>
              <img src='assets/_con/images/user10.jpg' alt='Jenny Phillips' class='circle photo'>

              <div class='name'>Jenny Phillips</div>
              <div class='status'>Lorem status</div>
            </div>

            <div class='user'>
              <img src='assets/_con/images/user11.jpg' alt='Darren Cunningham' class='circle photo'>

              <div class='name'>Darren Cunningham</div>
              <div class='status'>Lorem status</div>
            </div>

            <div class='user'>
              <img src='assets/_con/images/user12.jpg' alt='Sandra Cole' class='circle photo'>

              <div class='name'>Sandra Cole</div>
              <div class='status'>Lorem status</div>
            </div>

          </div>
        </div>
      </div>
      <!-- /Contacts -->

      <!-- Messages -->
      <div class='messages'>

        <!-- Top Bar with back link -->
        <div class='topbar'>
          <a href='page-profile.html#!' class='chat-toggle'><i class='mdi-navigation-close'></i></a>
          <a href='page-profile.html#!' class='chat-back'><i class='mdi-hardware-keyboard-arrow-left'></i> Back</a>
        </div>
        <!-- /Top Bar with back link -->

        <!-- All messages list -->
        <div class='list'>
          <div class='nano scroll-bottom'>
            <div class='nano-content'>

              <div class='date'>Monday, Feb 23, 8:23 pm</div>

              <div class='from-me'>
                Hi, Felicia.
                <br>How are you?
              </div>

              <div class='clear'></div>

              <div class='from-them'>
                <img src='assets/_con/images/user2.jpg' alt='John Doe' class='circle photo'>Hi! I am good!
              </div>

              <div class='clear'></div>

              <div class='from-me'>
                Glad to see you :)
                <br>This long text is intended to show how the chat will display it.
              </div>

              <div class='clear'></div>

              <div class='from-them'>
                <img src='assets/_con/images/user2.jpg' alt='John Doe' class='circle photo'>Also, we will send the longest word to show how it will fit in the chat window: <strong>Pneumonoultramicroscopicsilicovolcanoconiosis</strong>
              </div>

              <div class='date'>Friday, Mar 10, 5:07 pm</div>

              <div class='from-me'>
                Hi again!
              </div>

              <div class='clear'></div>

              <div class='from-them'>
                <img src='assets/_con/images/user2.jpg' alt='John Doe' class='circle photo'>Hi! Glad to see you.
              </div>

              <div class='clear'></div>

              <div class='from-me'>
                I want to add you in my Facebook.
              </div>

              <div class='clear'></div>

              <div class='from-me'>
                Can you give me your page?
              </div>

              <div class='clear'></div>

              <div class='from-them'>
                <img src='assets/_con/images/user2.jpg' alt='John Doe' class='circle photo'>I do not use Facebook. But you can follow me in Twitter.
              </div>

              <div class='clear'></div>

              <div class='from-me'>
                It's good idea!
              </div>

              <div class='clear'></div>

              <div class='from-them'>
                <img src='assets/_con/images/user2.jpg' alt='John Doe' class='circle photo'>You can find me here - <a href='https://twitter.com/nkdevv'>https://twitter.com/nkdevv</a>
              </div>

            </div>
          </div>
        </div>
        <!-- /All messages list -->

        <!-- Send message -->
        <div class='send'>
          <form action='page-profile.html#!'>
            <div class='input-field'>
              <input id='chat-message' type='text' name='chat-message'>
            </div>

            <button class='btn waves-effect z-depth-0'><i class='mdi-content-send'></i>
            </button>
          </form>
        </div>
        <!-- /Send message -->

      </div>
      <!-- /Messages -->
    </div>

  </div>
  <!-- /Chat -->

  <footer>&copy; 2015 <strong>Artistarc</strong>. All rights reserved. <a href='http://themeforest.net/item/con-material-admin-dashboard-template/10621512?ref=_nK'></a>
  </footer>
    
  <script src="libs/angular/angular.js"></script>
  <script src="libs/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/page1Controller.js"></script>

  <!-- Main js -->
  <script type='text/javascript' src='main/js/main.js'></script>

  <!-- Navbar js -->
  <script type='text/javascript' src='main/js/navbar.js'></script>

  <!-- DEMO [REMOVE IT ON PRODUCTION] -->
  <script type='text/javascript' src='assets/_con/js/_demo.js'></script>

  <!-- jQuery -->
  <script type='text/javascript' src='assets/jquery/jquery.min.js'></script>

  <!-- jQuery RAF (improved animation performance) -->
  <script type='text/javascript' src='assets/jqueryRAF/jquery.requestAnimationFrame.min.js'></script>

  <!-- nanoScroller -->
  <script type='text/javascript' src='assets/nanoScroller/jquery.nanoscroller.min.js'></script>

  <!-- Materialize -->
  <script type='text/javascript' src='assets/materialize/js/materialize.min.js'></script>

  <!-- Sortable -->
  <script type='text/javascript' src='assets/sortable/Sortable.min.js'></script>

  <!-- Main -->
  <script type='text/javascript' src='assets/_con/js/_con.min.js'></script>


  <!-- Google Prettify -->
  <script type='text/javascript' src='assets/google-code-prettify/prettify.js'></script>
</body>

</html>