<div class="container-fluid">
    <div class="row">
        <div class="jumbotron b-r-0"><h2>Projectlist</h2></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel p-5" style="width:100%;display: inline-block;">
                PROJECT I
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel p-5" style="width:100%;display: inline-block;">
                PROJECT II
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel p-5" style="width:100%;display: inline-block;">
                PROJECT III
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel p-5" style="width:100%;display: inline-block;">
                PROJECT IV
            </div>
        </div>
    </div>
</div>